{% extends 'base.html.twig' %}

{% block title %}Creation d'un nouvel article{% endblock %}

{% block body %}

    <div class="container">

        <h1>Creation d'un nouvel article</h1>

        <div>
            {{ form(form) }}
        </div>

    </div>

{% endblock %}