{% extends 'base.html.twig' %}

{%  block title %}ERREUR 404{% endblock %}

{% block body %}

<h1 class="text-warning">ERREUR</h1>

<p class="text-danger">Une erreur s'est produite !!</p>

{% endblock %}